.section-container{
    width: 80%;
    margin: 0 auto;
    text-align: start;
  }
  
  .section-container-item{
    display: flex;
    justify-content: space-around;
  }

  .subtitle{
    font-size: 24px;
    color: #3b3b3b;
    text-transform: capitalize;
    margin: 10px 0px 0px 40px;
  }